snippet pr "Adds a new link to a github pr" i
[\#$1](https://github.com/$2/$3/pull/$1)
endsnippet

snippet issue "Adds a new link to a github issue" i
[\#$1](https://github.com/$2/$3/issues/$1)
endsnippet
